.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/kodilla-testing/out/
/src/test/java/com/kodilla/KodillaCourseApplicationTests.java
/out/
/kodilla-stream/out/
/kodilla-exception/out/
/kodilla-good-patterns/out/
/kodilla-spring-intro/out/
kodilla-exception/src/test/
kodilla-good-patterns/src/main/resources/
kodilla-good-patterns/src/test/
kodilla-spring-intro/build.gradle
kodilla-spring-intro/out/
kodilla-spring-intro/src/main/resources/
kodilla-stream/src/main/resources/
kodilla-stream/src/test/resources/
kodilla-testing/src/main/java/com/kodilla/testing/user/
kodilla-testing/src/main/resources/
kodilla-testing/src/test/resources/
src/main/resources/static/
src/main/resources/templates/
src/test/
/kodilla-spring-intro/src/test/resources/
.gitignore
build.gradle
gradle/
gradlew
gradlew.bat
settings.gradle
src/main/java/com/kodilla/spring/SpringRunner.java
src/main/resources/
